:root {
  --bonito-border-color: #9ca3af;
  --bonito-bg-color: white;
  --bonito-bg-color2: #f9fafb;
}

button {
  --text-opacity: 1;
  border-color: var(--bonito-border-color);
  font-weight: 600;
  border-width: 0.0625rem;
  border-radius: 0.25rem;
  box-shadow:
    rgba(0, 0, 0, 0.1) 0 0.0625rem 0.1875rem 0,
    rgba(0, 0, 0, 0.1) 0 0.0625rem 0.125rem -0.0625rem;
  background-color: var(--bonito-bg-color);
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  min-width: 0;
}

button.nyx-icon-button {
  width: 2rem;
  height: 1.75rem;
  flex-shrink: 0;
}

button:hover {
  background-color: var(--bonito-bg-color2);
  box-shadow:
    rgba(0, 0, 0, 0.1) 0 0.0625rem 0.1875rem 0,
    rgba(0, 0, 0, 0.1) 0 0.0625rem 0.125rem -0.0625rem;
}

button:focus {
  outline-offset: 0.0625rem;
  outline: 0.0625rem solid transparent;
  box-shadow: rgba(66, 153, 225, 0.5) 0 0 0 0.0625rem;
}

button:disabled {
  --text-opacity: 0.5;
  pointer-events: none;
}

input[type=text]:disabled {
  opacity: 0.5;
  background-color: inherit;
}

.nyx-filebrowser {
  font-size: 100%;
  margin: 0.5rem;
  padding: 0.5rem;
  box-shadow:
    rgba(0, 0, 0, 0.1) 0 0.625rem 0.9375rem -0.1875rem,
    rgba(0, 0, 0, 0.05) 0 0.25rem 0.375rem -0.125rem;
  max-width: 30rem;
}

.nyx-filebrowser-navbar {
  border: none;
  margin: 0;
}

.nyx-filebrowser-navbar > input[type="text"] {
  border-width: 0.0625rem;
  padding: 0.2rem;
  margin-right: 0;
}

.nyx-filebrowser button {
  margin-left: 0.25rem;
  margin-right: 0;
}

.nyx-filebrowser-dircontent {
  border: none;
}

.nyx-filebrowser-dircontent > option {
  padding-left: 0.75rem;
}

.nyx-filebrowser-dircontent > option.directory {
  /* background-image: url("data:image/svg+xml,<svg width='0.5rem' height='0.5rem' version='1.1' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 12 12'><path fill='#333' d='M3,12 l7-6 L3,0' /></svg>"); */
  background-image: url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0nMC41cmVtJyBoZWlnaHQ9JzAuNXJlbScgdmVyc2lvbj0nMS4xJyB4bWxucz0naHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmcnIHZpZXdCb3g9JzAgMCAxMiAxMic+PHBhdGggZmlsbD0nIzMzMycgZD0nTTMsMTIgbDctNiBMMywwJyAvPjwvc3ZnPg==");
  background-repeat: no-repeat;
  background-position: 0 60%;
}

.nyx-filebrowser-entrycontrols {
  margin-left: -1.75rem;
  width: 3rem;
  text-align: right;
}

.nyx-filebrowser-entrycontrols > button.nyx-icon-button {
  padding: 0;
  margin: 0 -0.25rem;
  border: none;
  box-shadow: none;
  height: 1.275rem;
  width: 1.5rem;
}

span.nyx-segment-side-label-right {
  margin-left: -1.5rem;
}

svg.nyx-segment > g.hovered > polygon {
  fill-opacity: 0.5;
  stroke-width: 1px;
  stroke: black;
}

svg.nyx-segment > g.hovered > text {
  font-weight: bold;
}

svg.nyx-segment > g.active > polygon {
  stroke-width: 1px;
  stroke: darkgray;
}

div.nyx-segment > div {
  text-align: center;
}

div.nyx-player {
  height: 1.75rem;
}

div.nyx-player button {
  margin-right: 0.1875rem;
}

div.nyx-player input[type=range]:focus {
	outline: none;
}

div.nyx-player label {
  padding-left: 0.25rem;
  padding-top: 0.1875rem;
  font-size: 1rem;
}
