
.nyx-filebrowser-navbar {
  display: flex;
  flex-direction: row;
}

.nyx-filebrowser-navbar > input[type="text"] {
  width: 100%;
}

.nyx-filebrowser-dircontent {
  width: 100%;
}

.nyx-filebrowser-dircontent > option {
  overflow-x: auto;
}

svg.nyx-segment polygon {
  fill-opacity: 0.1;
}

svg.nyx-segment text {
  pointer-events: none;
  font-size: x-small;
}

.hidden {
  visibility: hidden;
}

div.nyx-segment {
  position: relative;
}

div.nyx-segments {
  position: relative;
  width: 100%;
}

div.nyx-segment-halves {
  display: flex;
  flex-direction: column;
}

div.nyx-segment-halves > div:not(.nyx-segments) {
  display: flex;
  flex-direction: row;
}

span.nyx-segment-side-label-left {
  writing-mode: tb-rl;
  transform: rotate(-180deg);
  text-align: center;
}

span.nyx-segment-side-label-right {
  writing-mode: vertical-lr;
  text-align: center;
}

div.nyx-player {
  display: flex;
  flex-direction: row;
}

div.nyx-player input[type=range] {
	width: 100%;
}

div.nyx-player label {
  font-family: monospace;
  white-space: nowrap;
}

.nyx-layer-controls {
  display: flex;
  flex-direction: row-reverse;
}

.nyx-layer-controls > button {
  visibility: hidden;
}

.nyx-animated-layers > div:not(:first-child) {
  visibility: hidden;
}

.nyx-animated-layers {
  display: grid;
}

.nyx-animated-layers > div {
  grid-area: 1 / 1 / 2 / 2;
}
